/**
 * Global variables
 */
 @import "https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin-ext,cyrillic.css";
 .button-primary {
   padding: 0.375rem 1.5rem;
   font-size: 1.5rem;
   text-transform: uppercase;
   border: 0.1875rem solid #53686c;
   font-weight: 800;
   color: #53686c;
   border-radius: 1.25rem;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
 }
 .button-primary:hover, .button-primary:active, .button-primary:focus {
   background-color: #53686c;
   color: #fff;
 }
 
 .button-secondary {
   padding: 0.675rem 1.55rem;
   font-size: 1.5rem;
   text-transform: uppercase;
   border: 0.1875rem solid #fff;
   font-weight: 800;
   color: #fff;
   border-radius: 1.25rem;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
 }
 .button-secondary:hover, .button-secondary:active, .button-secondary:focus {
   background-color: #53686c;
   color: #fff;
   border-color: #53686c;
 }
 
 /**
  * CSS helper classes
  */
 .clearfix:before, .clearfix:after {
   content: " ";
   display: table;
 }
 .clearfix:after {
   clear: both;
 }
 
 .button-reset {
   background: none;
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
 }
 
 .list-unstyled {
   list-style: none;
 }
 
 /**
  * Default font family, size and color
  */
 body {
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
 }
 
 h1 {
   font-size: 3.125rem;
 }
 
 h2 {
   font-size: 3.0625rem;
 }
 
 *, *:before, *:after {
   box-sizing: border-box;
 }
 
 html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
   margin: 0;
   padding: 0;
   font-family: "Open Sans", sans-serif;
 }
 
 footer, header, nav, section, main {
   display: block;
 }
 
 body {
   line-height: 1;
 }
 
 ol, ul {
   list-style: none;
 }
 
 blockquote, q {
   quotes: none;
 }
 
 blockquote:before, blockquote:after, q:before, q:after {
   content: "";
   content: none;
 }
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 input {
   -webkit-appearance: none;
   border-radius: 0;
 }
 
 .main-header {
   position: fixed;
   top: 0;
   width: 100%;
   transition: all 0.3s ease-in-out;
 }
 .main-header .nav-container {
   width: 83%;
   margin: auto;
 }
 .main-header--is-scrolled {
   background: #fff;
   opacity: 0.9;
   box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.23);
 }
 .main-header .navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 1.4875rem;
 }
 @media (min-width: 992px) {
   .main-header .navbar {
     padding-top: 4.1875rem;
   }
 }
 @media (min-width: 992px) {
   .main-header .navbar--is-scrolled {
     padding: 2.4875rem 0;
   }
 }
 .main-header .navbar__logo {
   color: black;
   text-decoration: none;
   font-size: 1.625rem;
   font-weight: 800;
   transition: opacity 0.2s ease-in-out;
 }
 .main-header .navbar__logo:hover {
   opacity: 0.8;
 }
 @media (min-width: 768px) {
   .main-header .navbar__logo {
     font-size: 2.125rem;
   }
 }
 @media (min-width: 1200px) {
   .main-header .navbar__logo {
     font-size: 3.125rem;
   }
 }
 .main-header .navbar .dropdown {
   margin-top: 10px;
 }
 .main-header .navbar .dropdown-list {
   position: absolute;
   display: none;
   top: 2.5rem;
   left: -1rem;
   padding: 25px 32px;
   opacity: 0;
   visibility: hidden;
   background-color: #F9F9F9;
   border-radius: 5px;
   transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
 }
 
 .main-header .navbar .dropdown-list--is-scrolled {
   top: 5rem;
 }
 
 .main-header .navbar .dropdown-list.active {
   transform: translateY(0);
   opacity: 0.8;
   visibility: visible;
 }
 @media (min-width: 992px) {
   .main-header .navbar .dropdown-list {
     display: block;
   }
 }
 .main-header .navbar__dropdown-link {
   display: flex;
   justify-content: center;
   font-weight: 400;
 }
 .main-header .navbar__dropdown-link:not(:last-of-type) {
   padding-bottom: 0.75rem;
 }
 .main-header .navbar__links {
   position: fixed;
   top: 0;
   right: -100%;
   display: flex;
   padding: 1.75rem 0;
   justify-content: center;
   flex-direction: column;
   font-size: 1.2625rem;
   width: 100%;
   background: #fff;
   font-weight: 800;
   text-transform: uppercase;
   transition: all 0.3s ease;
 }
 @media (min-width: 768px) {
   .main-header .navbar__links {
     font-size: 1.5625rem;
   }
 }
 @media (min-width: 992px) {
   .main-header .navbar__links {
     position: static;
     right: 0;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: 1.5rem;
     padding: 0;
     max-width: 56.5%;
     background: transparent;
   }
 }
 @media (min-width: 1200px) {
   .main-header .navbar__links {
     margin-top: 1.5rem;
   }
 }
 .main-header .navbar__links.active {
   right: 0%;
 }
 .main-header .navbar__link {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
 }
 @media (min-width: 768px) {
   .main-header .navbar__link {
     margin-left: 1.6875rem;
   }
 }
 @media (min-width: 1200px) {
   .main-header .navbar__link {
     margin-left: 4.6875rem;
   }
 }
 .main-header .navbar__link a {
   color: black;
   cursor: pointer;
   text-decoration: none;
   transition: color 0.2s ease-in-out;
 }
 .main-header .navbar__link a:hover {
   color: #53686c;
 }
 .main-header .navbar__link:not(:first-of-type) {
   padding-top: 0.75rem;
 }
 @media (min-width: 992px) {
   .main-header .navbar__link:not(:first-of-type) {
     padding: 0;
   }
 }
 .main-header .navbar .burger-menu {
   display: block;
   cursor: pointer;
 }
 .main-header .navbar .burger-menu__bar {
   display: block;
   width: 1.6rem;
   height: 0.18rem;
   margin: 0.325rem 0;
   background-color: black;
   transition: all 0.3s ease;
 }
 @media (min-width: 992px) {
   .main-header .navbar .burger-menu {
     display: none;
   }
 }
 .main-header .navbar .burger-menu.active .burger-menu__bar:nth-child(1) {
   transform: translateY(0.5rem) rotate(45deg);
 }
 .main-header .navbar .burger-menu.active .burger-menu__bar:nth-child(2) {
   opacity: 0;
 }
 .main-header .navbar .burger-menu.active .burger-menu__bar:nth-child(3) {
   transform: translateY(-0.5rem) rotate(-45deg);
 }
 
 .gallery {
   position: relative;
 }
 .gallery__list {
   padding: 5.25rem 0;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }
 @media (min-width: 576px) {
   .gallery__list {
     justify-content: space-between;
   }
 }
 .gallery__single-image {
   padding-bottom: 4.6875rem;
 }
 .gallery__single-image img {
   max-width: 16.1875rem;
   min-height: 16.1875rem;
   cursor: pointer;
   opacity: 1;
   transition: opacity 0.3s ease-in-out;
 }
 .gallery__single-image img:hover {
   opacity: 0.7;
 }
 @media (min-width: 992px) {
   .gallery__single-image img {
     max-width: 25.1875rem;
     min-height: 25.1875rem;
   }
 }
 
 .lightbox {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: auto;
   width: 100%;
   max-height: 55.625rem;
   background-color: #fff;
   transition: opacity 0.3s ease-in-out;
   -webkit-animation: fadeIn 0.2s;
           animation: fadeIn 0.2s;
 }
 .lightbox__image {
   max-width: 70%;
 }
 .lightbox__icon-wrapper {
   display: flex;
   justify-content: flex-end;
   padding-bottom: 2rem;
   width: 70%;
 }
 .lightbox__close-icon {
   max-width: 3%;
   cursor: pointer;
   transition: opacity 0.3s ease-in-out;
 }
 .lightbox__close-icon:hover {
   opacity: 0.7;
 }
 
 .hide {
   display: none;
 }
 
 .fade-out {
   -webkit-animation: fadeOut 0.3s both;
           animation: fadeOut 0.3s both;
 }
 
 @-webkit-keyframes fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 
 @keyframes fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 @-webkit-keyframes fadeOut {
   from {
     opacity: 1;
   }
   to {
     opacity: 0;
   }
 }
 @keyframes fadeOut {
   from {
     opacity: 1;
   }
   to {
     opacity: 0;
   }
 }
 .hero-section {
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
   padding-bottom: 10.625rem;
   position: relative;
   background-image: url("https://images.unsplash.com/photo-1465828095464-7639c3ff82cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
   width: 100%;
   height: 685px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
 .hero-section__subcontainer {
   max-width: 83%;
   margin: auto;
   letter-spacing: 1px;
 }
 .hero-section__subcontent-wrapper {
   display: flex;
   align-items: center;
 }
 .hero-section__title {
   color: #fff;
   padding-bottom: 0.75rem;
   line-height: 3.375rem;
   letter-spacing: 0.125rem;
 }
 .hero-section__content {
   max-width: 45.5%;
   font-size: 1.3125rem;
   color: #fff;
   line-height: 1.875rem;
 }
 
 .hero-section__wrapper {
   width: 34.375rem;
 }
 .hero-section__button {
   font-size: 1.5rem;
   color: #fff;
   text-decoration: none;
 }
 
 body {
   position: relative;
 }
 
 .title-with-content {
   max-width: 83%;
   margin: auto;
   margin-top: 3rem;
   margin-bottom: 3rem;
 }
 .title-with-content__title {
   color: #53686c;
 }
 .title-with-content__content-wrapper {
   display: flex;
   flex-direction: column;
   margin-top: 2.4rem;
   font-size: 1rem;
   line-height: 1.8;
 }
 @media (min-width: 768px) {
   .title-with-content__content-wrapper {
     flex-direction: row;
   }
 }
 .title-with-content__col-primary, .title-with-content__col-secondary {
   padding-top: 1.3rem;
 }
 @media (min-width: 768px) {
   .title-with-content__col-primary, .title-with-content__col-secondary {
     padding: 0;
     max-width: 50%;
   }
 }
 @media (min-width: 768px) {
   .title-with-content__col-primary {
     padding-right: 0.3125rem;
   }
 }
 @media (min-width: 768px) {
   .title-with-content__col-secondary {
     padding-left: 2.3125rem;
   }
 }
 
 .main-footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   min-height: 4.6875rem;
   background-color: #53686c;
 }
 .main-footer__copyrights {
   max-width: 83%;
   margin: auto;
   color: #fff;
 }
 
 .image-with-content {
   padding: 3.25rem 0;
   background-color: #F9F9F9;
 }
 .image-with-content__title {
   color: #53686c;
 }
 .image-with-content__content {
   padding-top: 1.5rem;
   font-size: 1rem;
   line-height: 1.8;
   color: #53686c;
 }
 @media (min-width: 768px) {
   .image-with-content__image {
     padding-top: 0.375rem;
     padding-right: 2.5625rem;
     float: left;
   }
 }
 .image-with-content__content-wrapper {
   margin-top: 2.4rem;
 }
 .image-with-content__button-wrapper {
   display: flex;
   justify-content: center;
   padding-top: 3.25rem;
 }
 .image-with-content__button {
   padding: 0.675rem 1.6rem;
   font-size: 1.5rem;
   text-transform: uppercase;
   border: 0.1875rem solid #53686c;
   font-weight: 800;
   color: #53686c;
   border-radius: 1.25rem;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
 }
 .image-with-content__button:hover, .image-with-content__button:active, .image-with-content__button:focus {
   background-color: #53686c;
   color: #fff;
 }
 
 .main-header {
   z-index: 9999;
 }
 
 .container {
   max-width: 83%;
   margin: auto;
 }/*# sourceMappingURL=styles.css.map */